<a href="https://colab.research.google.com/github/Hpkarimi/googleColab/blob/main/projectDb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import time
import pandas as pd
from pandas_datareader.compat import StringIO
from bs4 import BeautifulSoup as bs

In [4]:
#response = requests.get('http://www.tsetmc.com/tsev2/data/MarketWatchInit.aspx?h=0&r=0', timeout=15)
#data = pd.read_csv(StringIO(response.text), sep='@', header=None)
 
response = pd.read_csv('./drive/MyDrive/MarketWatchInit(1).aspx', sep='@', header=None)
response

                      0  ...           4
0  103225,667624,397879  ...  7940239860

[1 rows x 5 columns]

In [ ]:
dataIdx = pd.read_csv(StringIO(response.loc[0, 1]) , header=None
          , names=['lastTradeDTPersian', 'statusBors', 'idxBors', 'idxBorsChangeP',
                                                 'valBazarBors', 'volBors', 'valBors', 'cntBors', 'statusFrabors',
                                                 'volFrabors', 'valFrabors', 'cntFrabors', 'statusMoshtagheh',
                                                  'volMoshtagheh', 'valMoshtagheh', 'cntMoshtagheh','na']
                                          #, parse_dates={'lastTradeDT': [0]}
#                                          # , date_parser=(
 #                           lambda col: JalaliDatetime.strptime(col, '%y/%m/%d %H:%M:%S').todatetime())
                                          , keep_date_col=True )
dataIdx

  lastTradeDTPersian statusBors     idxBors  ... valMoshtagheh  cntMoshtagheh  na
0  99/12/20 16:50:26          F  1206878.02  ...  2.844773e+10           2328 NaN

[1 rows x 17 columns]

In [ ]:
dataInv = pd.read_csv(StringIO(response.loc[0, 2])
                                          , header=None
                                          , lineterminator=';'
                                          , index_col=0
                                          ,
                                          names=['id', 'isin', 'namad', 'name', 'lastTime', 'open', 'close', 'last', 'cnt',
                                                 'volume',
                                                 'value', 'low', 'high', 'yClose', 'eps', 'mabna', 'na1', 'bazar',
                                                 'groupCode',
                                                 'dayLimitHigh', 'dayLimitLow', 'share', 'typeNamad']
                                          )
dataInv

                           isin       namad  ...        share  typeNamad
id                                           ...
109297506785423    IRO9PTEH6021    ضترا3001  ...         1000        311
114312662654155    IRO3SAIZ0001       وسپهر  ...  30000000000        303
143187001116603    IRO6MELZ96C1     تملي612  ...         5870        307
268288798122357    IRK1A0520081  زعف0008پ15  ...       500000        701
318005355896147    IRO7PFSP0001         فسا  ...   3486000000        309
...                         ...         ...  ...          ...        ...
71787506425833715  IRO9PASN4831    ضسان2006  ...         1000        311
71856634742001725  IRO1SEPK0001          سپ  ...   5000000000        300
71901111301490182  IRB3TB490051     اخزا718  ...     24598918        306
71912937078484127  IRO9PTEH6061    ضترا3005  ...         1000        311
71957984642204570  IRO7APTP0001       شپترو  ...   5520000000        309

[1168 rows x 22 columns]

In [ ]:
namad = dataInv.copy()
namad = namad.drop(['lastTime','open','close','last','cnt','volume','value','low','high','yClose','dayLimitHigh','dayLimitLow']
                   , axis=1)
namad

                           isin       namad  ...        share  typeNamad
id                                           ...
109297506785423    IRO9PTEH6021    ضترا3001  ...         1000        311
114312662654155    IRO3SAIZ0001       وسپهر  ...  30000000000        303
143187001116603    IRO6MELZ96C1     تملي612  ...         5870        307
268288798122357    IRK1A0520081  زعف0008پ15  ...       500000        701
318005355896147    IRO7PFSP0001         فسا  ...   3486000000        309
...                         ...         ...  ...          ...        ...
71787506425833715  IRO9PASN4831    ضسان2006  ...         1000        311
71856634742001725  IRO1SEPK0001          سپ  ...   5000000000        300
71901111301490182  IRB3TB490051     اخزا718  ...     24598918        306
71912937078484127  IRO9PTEH6061    ضترا3005  ...         1000        311
71957984642204570  IRO7APTP0001       شپترو  ...   5520000000        309

[1168 rows x 10 columns]

In [ ]:
dataInv.drop(columns=['isin','namad','name','eps','mabna','bazar','groupCode','share','typeNamad'], inplace=True)
dataInv

                   lastTime    open   close  ...   na1  dayLimitHigh  dayLimitLow
id                                           ...
109297506785423       63709       0    2944  ...   464      100000.0          1.0
114312662654155      122957   10100   10100  ...  6491       10706.0       9898.0
143187001116603      164843  935608  891056  ...   515      935608.0     846504.0
268288798122357      104722   81500   81500  ...   622       85723.0      77559.0
318005355896147      122235    1810    1846  ...  2412        1901.0       1810.0
...                     ...     ...     ...  ...   ...           ...          ...
71787506425833715     63709       0    5500  ...   474      100000.0          1.0
71856634742001725    122648   16760   17070  ...  3160       18120.0      16760.0
71901111301490182    120241  921000  919886  ...  1132      966741.0     874671.0
71912937078484127     63709       0       1  ...   393      100000.0          1.0
71957984642204570    122918    4843    5019  ...  4870        5089.0       4843.0

[1168 rows x 13 columns]

In [ ]:
dataInvSaf = pd.read_csv(StringIO(response.loc[0, 3])
                                                 , header=None
                                                 , lineterminator=';'
                                                 , index_col=0
                                                 , names=['id', 'row', 'cntSell', 'cntBuy', 'prcBuy', 'prcSell', 'volBuy',
                                                          'volSell'])
dataInvSaf

                   row  cntSell  cntBuy  prcBuy  prcSell     volBuy  volSell
id
109297506785423      1        1       1    1555     2750         50        6
114312662654155      1        2    1476   10100    10100  282479591     2192
143187001116603      1        0       2  935608        0         12        0
268288798122357      1        2       1   81009    84500         63      200
318005355896147      1      249       0       0     1810          0  7999744
...                ...      ...     ...     ...      ...        ...      ...
71758511001096824    3        2       0       0    67755          0      592
71856634742001725    3        6       0       0    17000          0    53270
71901111301490182    3        1       1  918652   962664        100      337
71912937078484127    3        0       0       0        0          0        0
71957984642204570    3        0       1    5070        0       1000        0

[3394 rows x 7 columns]